.article-title {
    text-align: center;
    font-size: 48px;
    margin: 4vh;
    font-weight: 600;
    height: 10vh;
}

.article-wrap {
    display: inline-block;
    width: 60%;
    min-height: 400vh;

    border-radius: 5px;

    /*scroll*/
    scrollbar-width: thin;
    scrollbar-color: var(--point-color) #cccccc;
}

.article-wrap::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: #cccccc;
}

.article-wrap::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: var(--point-color);
}

.article-context {
    background: white;
    padding: 4%;
}

/*context*/

.article-context h1 {
    border-bottom: 1px solid var(--h-border);
    font-weight: 600;
    line-height: 1.5;
}

.article-context h2 {
    border-bottom: 1px solid var(--h-border);
    font-weight: 550;
    line-height: 1.5;
}

.article-context h3 {
    font-weight: 500;
    line-height: 1.5;
}

.article-context h4 {
    font-weight: 400;
    line-height: 1.5;
}

.article-context h5 {
    font-weight: 350;
    line-height: 1.5;
}

.article-context h6 {
    font-weight: 300;
    line-height: 1.5;
}

/*share*/

.share {
    position: relative;
    margin-top: 8%;
    background: white;
    padding: 2%;
    margin-bottom: 8%;
    border-radius: 10px;
}

.copied-message {
    display: none;
}

/*recommend*/
.recommends-wrap {
    background-color: white;
    border-radius: 5px;
}

.recommends-wrap p {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
    padding-top: 2%;
}

.recommends {
    display: flex;
}

.recommend {
    width: 50%;
    margin: 2%;
    box-sizing: border-box;
    display: inline-block;
    border: solid 1px var(--point-color);
}

.article-tags {
    width: 50%;
    box-sizing: content-box;

    /*todo*/
    overflow-x: hidden;
    
    display: block !important;
}

.article-tag {
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    padding-left: 8px;
    padding-right: 8px;
    border: solid 1px var(--point-color);
}


.committers-wrap {
    background: white;
    margin-bottom: 8%;
    display: block !important;
}

.committers-wrap p {
    padding-top: 2%;

    display: block;
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
}

.committers {
    display: inline-block;
    width: 100%;
    box-sizing: content-box;
    border-radius: 5px;
}

.committer {
    padding: 1%;
    height: 20%;
    width: 64px;
    float: left;
    display: flex;
    flex-wrap: wrap;
}

.committer img {
    display: inline-block;
    height: 64px;
}

.committer p {
    display: inline-block;
    margin: 0 !important;
    padding-top: 0 !important;
    width: 100%;
    text-align: center;
    font-size: 1em;
    font-weight: 600;
}

pre {
    padding: 0 !important;
    border: 0 !important;
    border-radius: 8px;
}