.article-menu {
    width: 19%;
    margin-top: 10%;
    margin-left: 2%;
    margin-right: 2%;
    top:0;
    display: inline-block;
    position: sticky;
    overflow-y: scroll;
    float: right;
}

.article-menu::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
}

.article-menu-tags {
    padding: 10px;
    border-bottom: solid 1px;
    background: white;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.article-menu-tag {
    display: inline-block;
    margin: 3px;
}

.article-menu-index {
    background: white;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.article-menu-title {
    font-weight: 700;
    margin-bottom: 0;
    padding-left: 10px;
    padding-top: 10px;
}

.article-index-item-h1 {
    padding-left: 2%;
}

.article-index-item-h2 {
    padding-left: 2%;
    margin-left: 4%;
}

.article-nav {
    padding: 0
}

.article-nav .uk-active {
    background: rgba(210, 210, 210, 0.67);
}