.article-menu {
    width: 19%;
    height: 80vh;
    border-radius: 5px;
    border: solid 1px #999999;
    background: white;
    margin-top: 5%;
    margin-left: 2%;
    float: left;
    overflow-y: scroll;
}

.article-menu-tags {
    margin: 5px;
    border: solid 1px #999999;
}

.article-menu-tag {
    display: inline-block;
    margin: 3px;
}

.article-detail {
    margin: 5px;
    border: solid 1px #999999;
}

.article-menu-committer-list {
    overflow-x: scroll;
    height: 50px;
}

.article-menu-committer-icon {
    display: inline-block;
    float: left;
}

.article-menu-logs {
    height: 200px;
    overflow-y: scroll;
}

.article-menu-index {
    margin: 5px;
    border: solid 1px #999999;
}

.article-index-item-h1 {
    padding-left: 5%;
}

.article-index-item-h2 {
    padding-left: 5%;
    margin-left: 5%;
}

.article-menu-close-button-container {
    display: inline-block;
    height: 30px;
    width: 100%;
}

.article-menu-close-button {
    display: inline-block;
    float: right;
}

.article-nav {
    padding:0
}

.article-nav .uk-active {
    background: rgba(210, 210, 210, 0.67);
}