.search-and-folders-container {
    background: white;
    border-radius: 10px;
}

.article-menu-item {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 40px;
    width: 100vmax;
}

.article-on-menu {
    display: block;
    width: 100%;
    margin-right: 5px;
    list-style: none;
}

.folders-container {
    margin-left: 10px;
    padding-bottom: 10px;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
    overflow-y: scroll;
    height: 25em;
}

.folders-container::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: #cccccc;
}

.folders-container::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #9a9a9a;
}


.folder {
    margin-top: 10px;
    width: 100%;
}

.folder-text {
    display: inline-block;
    padding-right: 2%;
    width: auto;
    border: solid 2px;
    border-radius: 5px;
    font-weight: 600;
    line-height: 1.5;
    outline: 0;
}

.folder-children {
    margin-left: 3%;
}

.selected-tag {
    display: inline-block;
    padding-left: 3px;
    border-radius: 10px;
    border: 1px solid;
}

.selected-tag-text {
    display: inline-block;
    border-radius: 10px;
    padding-right: 6px;
    padding-left: 3px;
}

.tag-button {
    width: 30px;
    height: 30px;
}

.tags {
    height: 20px;
    display: flex;
    align-items: center;
}

.folder-structure-menu-tag {
    margin-right: 5px;
    border-radius: 5px;
    display: inline-block;
    vertical-align: middle;
    height: 20px;
}

.article-title {
    height: 20px;
}

.article-title-text {
    display: inline-block;
    font-weight: 600;
    line-height: 1.5;
    outline: 0;
}

.selected-tags {
    height: 30px;
    border-bottom: solid 1px;
    margin-bottom: 10px;
}

.search-input {
    font: 15px/24px sans-serif;
    box-sizing: border-box;
    width: 50%;
    padding: 0.3em;
    transition: 0.3s;
    letter-spacing: 1px;
    color: #aaaaaa;
    border: 1px solid #1b2538;
    border-radius: 4px;
    margin: 10px;
}

.folder-structure-menu-close-button {
    display: inline;
    margin-right: 3%;
}