.container-box {
    overflow: hidden;
}

.container{
    width: 40%;
    float: left;
}

.container-divider {
    margin-left: 3%;
    margin-right: 3%;
    float: left;
    border-left: 1px solid #E1E1E1;
    height: 500px;
}

.folder {
}

.children {
    margin-left: 3%;
    display: none;
}

.selected-tag {
    display: inline-block;
    padding-left: 3px;
    background: #d3d3d3;
    border-radius: 10px;
}

.selected-tag-text {
    display: inline-block;
    border-radius: 10px;
    padding-right: 6px;
    padding-left: 3px;
    border: 2px solid #48a6ff;
    background: #48a6ff;
    color: #ffffff;
}