body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.article-container {
    width: 75%;
    height: 100vh;
    float: left;
    background: #EDF2F7;
}

.dragbar {
    background-color:#999999;
    height:100%;
    float: right;
    width: 2px;
    cursor: col-resize;
}

.ghostbar {
    width:3px;
    height:100%;
    background-color:#999999;
    opacity:0.5;
    position:absolute;
    cursor: col-resize;
    z-index:999
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
}
