.folder-structure-menu-wrap {
    display: none;
}

.side-menu {
    display: none;
}

.left {
    width: 100%;
    display: flex;
}

.right {
    width: 0;
}

.article-wrap {
    width: 100%;
}

/*smartphone nav*/
.nav-bar {
    margin: 0 !important;
    border-bottom: solid 1px var(--point-color);
}

.smartphone-nav {
    display: block !important;
    background: var(--mood-color);
    position: sticky;
    float: top;
    top: 0;
    width: 100%;
    z-index: 200;
    color: white;
    font-size: 28px;
}

.smartphone-folder-structure-menu-button {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .25em;
    box-sizing: border-box;
    height: 52px;
    padding: 0 15px;
    font-size: .875rem;
}

.smartphone-index-menu-button {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .25em;
    box-sizing: border-box;
    height: 52px;
    padding: 0 15px;
    font-size: .875rem;
}

.smartphone-folder-structure-menu-button-wrap {
    display: inline-block;
}

.smartphone-index-menu-button-wrap {
    display: inline-block;
    position: absolute;
    right: 0;
}

.smartphone-index {
    position: absolute;
    right: 12px;
    top: 68px;

    padding-left: 2rem;
    padding-top: 1.4rem;
    padding-bottom: 1.4rem;

    width: 350px;
    max-height: 700px;

    background: white;
    box-shadow: 0 5px 15px #001b443b;
    border-radius: 5px;

    overflow-y: auto;

    color: var(--general-font-color);


    display: none;
}

.smartphone-folder-structure-menu-wrap {
    position: absolute;
    left: 12px;
    top: 68px;
    width: 340px;

    background: white;

    box-shadow: 0 5px 15px #001b443b;
    border-radius: 5px;

    display: none;
}

.search-form {
    border-radius: 5px;
    box-sizing: border-box;
    border-bottom: solid 1px var(--point-color);
}

.folder-structure-menu {
    border-radius: 5px;
    box-sizing: border-box;
}

.selected-tag {
    font-size: 16px;
}